.section{
    padding: 35px 0 50px 0;
}
.resultsContainer{
    width: 130px;
    margin: 0 auto;
    border-bottom: 1px solid var(--border-color);
}
.results{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15/12);
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-colour);
}
.resultsText{
    font-weight: 500;
    font-size: 10px;
    line-height: calc(12/10);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    color: var(--secondary-text-colour);
}


.containerResult {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.resText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height:calc(12/10);
    letter-spacing: 0.02em;

    color: var(--secondary-text-colour);
}

.resTextBefore::before {
    content: ' ';
    background: var(--border-color);
    width: 1px;
    height: 13px;
    float: right;
    margin: 0 10px;
}

.result {
    font-weight: 700;
}

.resultCont{
    text-align: center;
}
.resultImg{
    margin-bottom: 20px;
    width: 120px;
}
.resultContText{
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-colour);
}
.resultContInfo{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 10px;
    line-height:calc(12/10);
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-colour);
}
.resultButton{
    width: 190px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16/14);
    text-align: center;

    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: transparent;
}

@media screen and (min-width: 768px) {
    .section { 
        padding: 42px 0 100px 0;
    }
    .resultsContainer {
        width: 336px;
    }
    
    .results {
        margin-bottom: 8px;
        font-size: 22px;
        line-height:calc(27/22);
    }
    
    .resultsText {
        font-size: 14px;
        line-height:calc(17/14);
    }
    
    .resultImg {
        margin-bottom: 8px;
        width: 176px;
    }
    
    .resultContText {
        margin-bottom: 8px;
        font-size: 22px;
        line-height:calc(30/22);
    }
    
    .resultContInfo {
        margin-bottom: 40px;
        font-size: 20px;
        line-height:calc(24/20);
    }

    .containerResult {
        margin-bottom: 32px;
    }
    
    .resText {
        font-size: 16px;
        line-height:calc(19/16);
    }
    
    .resTextBefore::before {
        content: ' ';
        background: var(--border-color);
        width: 1px;
        height: 20px;
        float: right;
        margin: 0 20px;
    }
    
    .result {
        font-weight: 700;
    }
}