.userName_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #555555;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.userInfo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signOutIcon {
    cursor: pointer;
}

.menu {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1px solid #e2e3e5;
}

@media screen and (min-width: 768px) {
    .userName_circle {
        margin-right: 10px;
    }

    .userName {
        padding-right: 10px;
        height: 100%;
        display: flex;
        border-right: 1px solid #e2e3e5;
        align-items: center;
    }

    .signOut {
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin-right: 35px;
    }
}
@media screen and (min-width: 1280px) {
    .userName_circle {
        margin-right: 20px;
    }

    .signOut {
        width: 36px;
        margin-right: 35px;
    }
}