/* Кнопки для формы регистрации */
.btn-modal-one {
  width: 109px;
  height: 60px;
  color: var(--main-bg-text-color);
  background-color: var(--accent-color);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-color: transparent;

  @media screen and (min-width: 768px) {
    width: 210px;
    height: 60px;
    font-size: 12px;
  }
}

.btn-modal-to {
  width: 109px;
  height: 60px;
  color: var(--secondary-text-colour);
  background-color: var(--main-bg-text-color);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-color: (--btn-border-color);

  @media screen and (min-width: 768px) {
    width: 210px;
    height: 60px;
    font-size: 12px;
  }
}

/* Главные кнопки */

.btn-training {
  width: 280px;
  height: 212px;
  padding-bottom: 46px;
  color: var(--main-bg-text-color);
  background-color: var(--footer-colour);
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  border-color: transparent;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 212px;
    font-size: 32px;
  }
}

.btn-testing {
  width: 280px;
  height: 212px;
  padding-left: 87px;
  padding-right: 88px;
  padding-bottom: 46px;
  color: var(--main-bg-text-color);
  background-color: var(--accent-color);
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  border-color: transparent;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 212px;
    font-size: 32px;
  }
}

/* Кнопка -Finish test- */

.btn-finish {
  width: 130px;
  height: 48px;
  color: var(--main-bg-text-color);
  background-color: var(--accent-color);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  border-color: transparent;
  @media screen and (min-width: 768px) {
    width: 181px;
    height: 48px;
    font-size: 14px;
  }
}

/* Кнопка -Try again- */

.btn-try {
  width: 190px;
  height: 48px;
  color: var(--main-bg-text-color);
  background-color: var(--accent-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  border-color: transparent;

  @media screen and (min-width: 768px) {
    width: 182px;
    height: 48px;
    font-size: 14px;
  }
}
