/* Основные цвета */
:root {
  --main-bg-color: #F5F6FB;
  --accent-color: #ff6b01;
  --secondary-text-colour: #000000;
  --footer-colour: #02172a;
  --footer-text-color: rgba(255, 255, 255, 0.4);
  --btn-border-color: #ced2d1;
  --white-color: #ffffff;
  --border-color: #00122F;
  --secondaryTextColor:#555555;
}
